<div fxLayout="row wrap" fxLayoutGap="20px">
    <div class="grade-form" fxFlex>
      <mat-card class="mat-elevation-z8">

        <mat-card-title style="text-align: center;">About</mat-card-title>
        <mat-card-content>
            <p class="about-info">
                Loan_App is a free-to-use web app that allows
users to easily and quickly estimate monthly
payments for simple loans. We strive to provide
free, useful services to the public to increase
financial literacy in younger generations.
            </p>
        </mat-card-content>
      </mat-card>
    </div>
</div>


