<div fxLayout="row wrap" fxLayoutGap="20px">
    <div class="grade-form" fxFlex>
      <mat-card class="mat-elevation-z8">

        <mat-card-title style="text-align: center;">Contact</mat-card-title>
        <mat-card-content>
            <ul class="contact-list">
                <li>Email: Sample@email.com</li>
                <li>Phone: 555-555-5555</li>
                <li>Address: 123 Test St, Cincinnati OH 12345</li>
            </ul>
        </mat-card-content>
      </mat-card>
    </div>
</div>
